#mortgage-calculator {
  padding: 20px;
  border: 1px solid #197fe6;
  border-radius: 5px;
}

#mortgage-calculator label,
#mortgage-calculator input,
#mortgage-calculator select,
#mortgage-calculator button {
  width: 100%;
  align-items: center;
  display: flex;
  min-height: 30px;
}

h2 {
  color: #197fe6 !important;
  font-weight: bold !important;
  text-align: center; /* Center the heading */
}

#results {
  margin-top: 20px;
  font-weight: bold;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  cursor: pointer;
  margin-left: 5px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: #555;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -150px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.error {
  color: red;
  font-size: 12px;
  font-style: italic;
}

/* Add the necessary styles */

body {
  font-family: Arial, sans-serif;
}

#results {
  margin-top: 20px;
  text-align: center;
}

.accordion-content-preview {
  display: none;
}

/* Responsive styles for mobile view */
@media (max-width: 768px) {
  #mortgage-calculator {
    padding: 10px;
  }



  label {
    margin-bottom: 5px;
  }

  .accordion-content-preview {
    flex-direction: column; /* Stack preview content on mobile */
  }

  h3 {
    font-size: 1.5rem;
  }

  .accordion-content {
    padding: 5px;
  }

  .mobile-open {
    display: block; /* Ensure accordion toggle is visible on small screens */
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    color: #197fe6;
  }
}

.table-column {
  flex: 1 1 100%;
}

.accordion {
  width: 100%;
  margin-top: 10px;
}

.accordion-header {
  border: 1px solid #197fe6;
  margin-top: 5px;
}

.accordion-content {
  display: none;
  padding: 10px;
  border-top: none;
}

.accordion-content.active {
  display: block;
}

.accordion-content-preview {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Adjust for spacing between elements */
}

.flex-row {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  justify-content: space-between; /* Ensure space between label and input */
}

.items-center {
  align-items: center;
}

.disclaimer {
  font-size: 9px;
  display: flex;
  color: #8b8b8b;
}
